/* TypingGame */

#gameWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.columnWrapper,
.indicatorWrapper {
  display: flex;
  border: solid white;
  border-radius: 10px;
  width: 500px;
}

.columnWrapper {
  height: 600px;
  margin: 0 auto;
  margin-right: 0px;
  margin-left: 0px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.indicatorWrapper {
  justify-content: center;
  padding: 10px 0px;
}

.indicators {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
}

/* ListWords */ 
.word {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

/* Header */

#header {
  color: white;
}